.subbar{
     position: fixed;
     font-size: 14px;
     font-family: 'lato';
     background-color: rgb(255, 255, 255);
     border-bottom: 1.5px solid rgb(255, 108, 34);
     box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
      /* positionné pour l'animation */
      width: 100%;
      top: -220px;
      z-index: 2; 
      opacity: 0;
     /*  height: 65px; */
      transition: all 0.5s;
}
.subbar ul{
    list-style-type: none;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 20px;
     padding: 10px;
}
.subbar ul li{
    padding: 10px;
    border-bottom: 1px solid rgb(255, 108, 34);
    transition: all 0.5s;
}
.subbar ul li:hover{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.subbar ul li a{
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    transition: all 0.5s;
}
.navBar-left ul a.change_color{
    color: rgb(255, 108, 34);
}
.subbar ul li a:hover{
      cursor: pointer;
      color: rgb(255, 108, 34);
}
/* animation down */
@keyframes slideshow-menu-to-down {
    0% {
        top: -220px;
   }
 
    100% {
        top: 65px;
   }
} 
.subbar.subbar-active{
     opacity: 10;
     top: 65px;
     animation: 0.3s slideshow-menu-to-down;
 }

/* subbar-Up-Down */
 
.subbar-up{
    height: 0px;
    opacity: 0;
    transition: all 0.3s;
}
.subbar-up p, .subbar-up img, .subbar-up h1, .subbar-up h2, .subbar-up h3{
    display: none;
}
.subbar-down{
    height: 120px;
    opacity: 10;
    transition: all 0.5s;
}
.subbar-down img{
    width: 30px;
}
.subbar_description div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: 'lato';
    height: 100%;
}
